<!DOCTYPE>
<html>
  <head>
	<title>Ruby on Rails Sample Application | Contact</title>
  </head>
  <body>
	<h1>Contact Us</h1>
	<p>Vinay Sawant
	   BE Computer Engg
	   
	   Contact Me on sawantvinayr@gmail.com
	   MObile No 9762014907
	</p>	
 </body>
</html>

