<!DOCTYPE>
<html>
  <head>
	<title>Ruby on Rails Sample Application | Home	</title>
  </head>
  <body>
	<h1>Home</h1>
	<p>This is the sample application in rails by Vinay Sawant</p>	
 </body>
</html>

